FADR_API_KEY=
FADR_API_BASE=https://api.fadr.com
FADR_UPLOAD_PATH=/assets/upload2
FADR_ASSET_PATH=/assets
FADR_STEM_TASK_PATH=/tasks
FADR_TASK_PATH=/tasks/{task_id}
FADR_DOWNLOAD_PATH=/assets/{asset_id}/download
FADR_POLL_SECONDS=5
FADR_TIMEOUT_SECONDS=900
REAPER_BRIDGE_URL=http://127.0.0.1:5001
X32_IP=192.168.1.5
X32_PORT=10023
